[submodule "zephyr-sdk-0.17.0"]
	path = zephyr-sdk-0.17.0
	url = git@github.com:pderwin/zephyr-sdk-0.17.0.git
[submodule "nrf-command-line-tools"]
	path = nrf-command-line-tools
	url = git@github.com:pderwin/nrf-command-line-tools.git
